doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title Canvas Snow Demo

    style.
      * {
        margin: 0;
        padding: 0;
      }

      #snowWrapper {
        width: 100%;
        height: 300px;
        background-color: #132456;
      }

  body
    #snowWrapper

    each _js in htmlWebpackPlugin.files.js
      script(src=_js)

    script.
      var canvasSnow = new CanvasSnow({
        context: '#snowWrapper',
        cell: 30
      }).init();

      canvasSnow.start();

